<div id="sp-page">

  <!-- CABECERA  -->
  <div class="pusher">
    <div id="cabecera" class="ui inverted vertical masthead center aligned segment">
      <div class="ui text container">
        <h1 class="ui inverted header">
        <i class="renren large icon"></i>SPARTAN
      </h1>
        <h2>El deporte es nuestro oficio</h2>
        <div class="ui huge inverted button" [routerLink]="['/Login']">Entrar</div>
      </div>
    </div>

    <!-- CUERPO -->
    <div class="ui vertical stripe quote segment">
      <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
          <div class="column hover-transition-to-do">
            <h3>Alumno</h3>
            <p>Como alumno podrás llevar un seguimiento de tus metas, tareas y dietas siempre el linea</p>
            <div class="ui big inverted red labeled icon button" (click)="goToRegister('student')">
              <i class="signup icon"></i> Registro alumno
            </div>
          </div>
          <div class="column hover-transition-to-do">
            <h3>Entrenador</h3>
            <p>Como entrenador podras mandar tareas, dietas y llevar un seguimiento de tus alumnos</p>
            <div class="ui big inverted red labeled icon button" (click)="goToRegister('trainer')">
              <i class="signup icon"></i> Registro entrenador
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
