<div class="sp-container-lg">
  <!-- Dasboard entrenador -->
  <br>

  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="container">
      <div class="jumbotron">
        <h1 id="goal-title"> {{ alumno.goal }}</h1>

        <div *ngIf="alumno.progreso != 0" class="progress">
          <div class="progress-bar" [style.width.%]="alumno.progreso">
            <span class="sp-label">{{alumno.progreso}} % COMPLETADO</span>
          </div>
        </div>
        <p *ngIf="alumno.progreso == 0" class="sp-label2 text-muted">Sin tareas completadas</p>

        <ul class="accordion">
          <li class="accordion-item">
            <input id="s1" class="hide" type="checkbox">
            <div class="col-md-12 col-xs-12	col-sm-12 margin-row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <label for="s1" class="accordion-label">Elíptica</label>
              </div>
              <div id="botones-tarea" class="col-md-6 col-sm-6 col-xs-12">
                <div class="pull-right">
                  <a href="javascript:void(0)" class="btn btn-default btn-fab btn-fab-mini"><i class="material-icons">done</i><div class="ripple-container"></div></a>
                  <a href="javascript:void(0)" class="btn btn-default btn-fab btn-fab-mini"><i class="material-icons">add circle outline</i><div class="ripple-container"></div></a>
                  <a href="javascript:void(0)" class="btn btn-default btn-fab btn-fab-mini"><i class="material-icons">chat</i><div class="ripple-container"></div></a>
                </div>
              </div>
            </div>
            <ul class="accordion-child">
              15 km en 1 hora
              <a href="javascript:void(0)" class="btn btn-raised pull-right">Enviar</a>
            </ul>
          </li>

          <li class="accordion-item">
            <input id="s2" class="hide" type="checkbox">
            <div class="col-md-12 col-xs-12	col-sm-12 margin-row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <label for="s2" class="accordion-label">Press de Pecho</label>
              </div>
              <div id="botones-tarea" class="col-md-6 col-sm-6 col-xs-12">
                <div class="pull-right">
                  <a href="javascript:void(0)" class="btn btn-default btn-fab btn-fab-mini"><i class="material-icons">done</i><div class="ripple-container"></div></a>
                  <a href="javascript:void(0)" class="btn btn-default btn-fab btn-fab-mini"><i class="material-icons">add circle outline</i><div class="ripple-container"></div></a>
                  <a href="javascript:void(0)" class="btn btn-default btn-fab btn-fab-mini"><i class="material-icons">chat</i><div class="ripple-container"></div></a>
                </div>
              </div>
            </div>
            <ul class="accordion-child">
              Realizar 10 series de 5 repeticiones con 65 kg
              <a href="javascript:void(0)" class="btn btn-raised pull-right">Enviar</a>
            </ul>

            <li class="accordion-item">
              <input id="s3" class="hide" type="checkbox">
              <div class="col-md-12 col-xs-12	col-sm-12 margin-row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <label for="s3" class="accordion-label">Dominadas de espalda</label>
                </div>
                <div id="botones-tarea" class="col-md-6 col-sm-6 col-xs-12">
                  <div class="pull-right">
                    <a href="javascript:void(0)" class="btn btn-default btn-fab btn-fab-mini"><i class="material-icons">done</i><div class="ripple-container"></div></a>
                    <a href="javascript:void(0)" class="btn btn-default btn-fab btn-fab-mini"><i class="material-icons">add circle outline</i><div class="ripple-container"></div></a>
                    <a href="javascript:void(0)" class="btn btn-default btn-fab btn-fab-mini"><i class="material-icons">chat</i><div class="ripple-container"></div></a>
                  </div>
                </div>
              </div>
              <ul class="accordion-child">
                5 series de 5 repeticiones
                <a href="javascript:void(0)" class="btn btn-raised pull-right">Enviar</a>
              </ul>
            </li>

            <li class="accordion-item">
              <input id="s4" class="hide" type="checkbox">
              <div class="col-md-12 col-xs-12	col-sm-12 margin-row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <label for="s4" class="accordion-label">Largos a Crawl</label>
                </div>
                <div id="botones-tarea" class="col-md-6 col-sm-6 col-xs-12">
                  <div class="pull-right">
                    <a href="javascript:void(0)" class="btn btn-default btn-fab btn-fab-mini"><i class="material-icons">done</i><div class="ripple-container"></div></a>
                    <a href="javascript:void(0)" class="btn btn-default btn-fab btn-fab-mini"><i class="material-icons">add circle outline</i><div class="ripple-container"></div></a>
                    <a href="javascript:void(0)" class="btn btn-default btn-fab btn-fab-mini"><i class="material-icons">chat</i><div class="ripple-container"></div></a>
                  </div>
                </div>
              </div>
              <ul class="accordion-child">
                20 largos en 15 minutos
                <form class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-2 control-label">Opciones</label>

                  <div class="col-md-10">
                    <div class="radio radio-primary">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""> Option one is this
                      </label>
                    </div>
                    <div class="radio radio-primary">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Option two can be something else
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-offset-2 col-md-10">
                    <div class="togglebutton">
                      <label>
                        <input type="checkbox" checked="false"> Toggle button
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="select111" class="col-md-2 control-label">Select</label>

                  <div class="col-md-10">
                    <select id="select111" class="form-control">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>

                <a href="javascript:void(0)" class="btn btn-raised pull-right">Enviar</a>
              </form>
              </ul>
            </li>

        </ul>

        <!--SOLO ENTRENADOR -->
        <a href="javascript:void(0)" class="btn btn-danger btn-lg btn-block"><i class="material-icons">add_circle_outline</i>  Añadir Tarea</a>
        <!--FIN SOLO ENTRENADOR -->

      </div>
    </div>
  </div>
  <div class="col-md-2"></div>

</div>
