<!-- FORMULARIO NUEVA META -->
<goal-form *ngIf="!student.goal" (newGoal)='getGoal($event)'></goal-form>
<!-- FIN FORMULARIO NUEVA META -->

<div *ngIf="student.goal" class="sp-container-lg">
  <div class="col-md-8 col-md-offset-2">
    <div class="container">
      <div class="panel panel-default">

        <div class="panel-heading mdl-typography--title" id="sp-heading">
          <span *ngIf="aut.esProfesor()">
            <button id="boton-back" (click)="goBack()" class="btn btn-raised pull-right btn-fab"><i class="material-icons">arrow_back</i></button>
            <span class="ui teal right ribbon label"><i class="user icon"></i> <b>{{ student.name }}</b> {{student.lastname}}</span>
          </span>
          <h3 id="titulo-meta" [class.titulo-meta-prof]="aut.esProfesor()">{{ student.goal | GoalName }}</h3>

          <!-- PROGRESO -->
          <div id="barra-progreso-meta" *ngIf="student.goal.acepted" class="progress">
            <div class="progress-bar" [style.width.%]="student.goal.progress">
              <span class="sp-label">{{ student.goal.progress | BeautifyProgessBar }}</span>
            </div>
          </div>

          <!-- ACEPTACION DE META -->
          <div *ngIf="!student.goal.acepted && !student.goal.canceled" class="ui icon info message">
            <i class="trophy icon"></i>
            <div class="content">
              <div class="header">
                Petición de meta
              </div>
              <p *ngIf="aut.esAlumno()">Tu entrenador no ha aceptado tu meta aún</p>
              <ul *ngIf="aut.esProfesor()" class="list">
                <li>Acepta la meta para poder mandar tareas al alumno</li>
                <li>Pudes rechazar la meta si no la consideras correcta</li>
                <button (click)="goalResponse(true)" class="btn btn-success"><i class="check icon"></i> Aceptar Meta</button>
                <button (click)="goalResponse(false)" class="btn btn-danger"><i class="remove icon"></i> Cancelar Meta</button>
              </ul>
            </div>
            <button *ngIf="aut.esAlumno()" (click)="goalResponse(false)" class="btn btn-danger pull-right"><i class="remove icon"></i>Cancelar Meta</button>
          </div>

          <!-- CANCELACION DE META -->
          <div *ngIf="student.goal.canceled" class="ui icon negative message">
            <i class="red remove icon"></i>
            <div class="content">
              <div class="header">
                Meta cancelada
              </div>
              <ul class="list">
                <li>Tu meta ha sido cancelada</li>
                <li>Puedes pedir una nueva meta</li>
              </ul>

            </div>
            <button *ngIf="aut.esAlumno()" (click)="newGoal()" class="btn btn-info btn-raised"><i class="write icon"></i>Nueva Meta</button>
          </div>

          <br *ngIf="!student.goal.acepted">
        </div>

        <div *ngIf="student.goal.acepted">
          <!-- TABS -->
          <div id="botones-tabs" class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
            <div id="botones-tabs-in" class="mdl-layout__tab-bar">
              <a class="mdl-layout__tab" (click)="setTab(1)" [class.active]="tab == 1">Tareas</a>
              <a class="mdl-layout__tab" (click)="setTab(2)" [class.active]="tab == 2">Comentarios <a *ngIf="getNoReadComments()"class="ui teal circular label">{{ getNoReadComments() }}</a></a>
              <a class="mdl-layout__tab" (click)="setTab(3)" [class.active]="tab == 3">Dieta</a>
            </div>
          </div>

          <!-- TAB 1 -> TAREAS -->

          <div *ngIf="tab === 1" id="tab-tarea" class="panel-body">

            <!-- TAREAS -->

            <ul id="ul-accordion" class="accordion">

              <div *ngIf="student.goal.tasks.length === 0" class="ui icon warning message" [class.margin-tunned]="tab === 1">
                <i class="tasks icon"></i>
                <div class="content">
                  <div class="header">
                    Sin tareas
                  </div>
                  <p>{{ aut.esProfesor() ? 'Añade nuevas tareas a tu alumno' : 'Espera a que tu entrenador te asigne tareas' }}</p>
                </div>
              </div>

              <li *ngFor="#task of student.goal.tasks" class="accordion-item" [class.hover-transition-to-do]="task.status === 0" [class.hover-transition-pending]="task.status === 2" [class.accordion-pending]="task.status === 2">
                <!-- El elemento "input" activa el desplegable. Si la tarea tiene "status = 1", el input permanecerá deshabilitado-->
                <input *ngIf="task.status != 1" id="{{ 's' + task.id}}" class="hide" type="checkbox">
                <div class="col-md-12 col-xs-12	col-sm-12 margin-row" [class.task-completed]="task.status === 1">
                  <div class="one-line-left">
                    <label [attr.for]="'s'+task.id" [class]="task.status === 1 ? 'accordion-label-completed' : 'accordion-label'">{{task.name}}</label>
                  </div>
                  <div id="botones-tarea" class="one-line-right">
                    <div id="botones-tarea-inside" class="pull-right">
                      <a *ngIf="!aut.esProfesor() && task.status === 0" (click)="task.status = 1" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" title="Completar tarea al 100%">
                        <i class="material-icons">done</i>
                        <div class="ripple-container"></div>
                      </a>
                      <a *ngIf="task.status === 1" (click)="task.status = 1" class="only-check-no-button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                        <i class="material-icons">done</i>
                        <div class="ripple-container"></div>
                      </a>
                      <a *ngIf="!aut.esProfesor() && task.status === 2" (click)="task.status = 1" class="only-check-no-button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                        <i class="material-icons">watch_later</i>
                        <div class="ripple-container"></div>
                      </a>
                      <a *ngIf="aut.esProfesor() && task.status === 0" (click)=editTrigger(task) class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                        <i class="material-icons">mode_edit</i>
                        <div class="ripple-container"></div>
                      </a>
                      <a *ngIf="aut.esProfesor() && task.status != 1" (click)="deleteTask(task)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                        <i class="material-icons">close</i>
                        <div class="ripple-container"></div>
                      </a>
                      <!--<i *ngIf="task.status === 1" class="material-icons pull-right">done</i>-->
                    </div>
                  </div>
                </div>

                <!-- TAREAS EN ESTADO SIN HACER (también para las completadas, pero el desplegable permanece deshabilitado)-->
                <ul *ngIf="task.status != 2" class="accordion-child">
                  <a class="ui teal right corner label label-corner" data-toggle="tooltip" [title]="'Ejercicio ' + (task.type ? 'Anaeróbico' : 'Aeróbico')">
                    <i class="material-icons icon-label-corner">{{ task.type ? 'fitness_center' : 'directions_run' }}</i>
                  </a>

                  <!--PARTE ALUMNO-->
                  <div *ngIf="!aut.esProfesor()">
                    <div class="row">
                      <h5 class="col-md-6">{{task.description}}</h5>
                      <h6 *ngIf="task.type === 0" class="col-md-6 h6-no-margin-top">Tus objetivos eran {{task.objective1}} {{task.format1}} en {{task.objective2}} {{task.format2}}</h6>
                      <h6 *ngIf="task.type === 1" class="col-md-6 h6-no-margin-top">Tus objetivos eran {{task.objective2}} {{task.format2}} con {{task.objective1}} {{task.format1}}</h6>
                    </div>
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label class="col-md-2 {{'colorize1'+task.id}}">{{task.format1}}</label>
                        <div class="col-md-8">
                          <input class="slider-result"  [(ngModel)]="task.result1" type="range" min="0" [max]="task.objective1" (mousedown)="colorlabel('.colorize1'+task.id)" (mouseup)="colorlabel('.colorize1'+task.id)"/>
                        </div>
                        <label id="{{'label-result-1' + task.id}}" class="col-md-2  slider-result {{'colorize1'+task.id}}">{{task.result1}}</label>
                      </div>

                      <div class="form-group">
                        <label class="col-md-2 {{'colorize2'+task.id}}">{{task.format2}}</label>
                        <div class="col-md-8">
                          <input *ngIf="task.type === 0" class="slider-result" [(ngModel)]="task.result2" type="range" [min]="task.objective2" [max]="task.objective2 * 2" (mousedown)="colorlabel('.colorize2'+task.id)" (mouseup)="colorlabel('.colorize2'+task.id)"/>
                          <input *ngIf="task.type === 1" class="slider-result"  [(ngModel)]="task.result2" type="range" min="0" [max]="task.objective2" (mousedown)="colorlabel('.colorize2'+task.id)" (mouseup)="colorlabel('.colorize2'+task.id)"/>
                        </div>
                        <label id="{{'label-result-2' + task.id}}" class="col-md-2 slider-result {{'colorize2'+task.id}}">{{task.result2}}</label>
                      </div>

                      <a class="btn btn-raised pull-right hint--top hint--success hint--medium" (click)="taskToPending(task)" data-hint="Enviar a tu entrenador">Enviar</a>
                    </form>
                  </div>

                  <!--FIN PARTE ALUMNO-->

                  <!--PARTE PROFESOR-->
                  <div *ngIf="aut.esProfesor()">
                    <div class="row">
                      <h5 class="col-md-6">{{task.description}}</h5>
                      <h6 *ngIf="task.type === 0" class="col-md-6 h6-no-margin-top">Los objetivos son {{task.objective1}} {{task.format1}} en {{task.objective2}} {{task.format2}}</h6>
                      <h6 *ngIf="task.type === 1" class="col-md-6 h6-no-margin-top">Los objetivos son {{task.objective1}} {{task.format1}} con {{task.objective2}} {{task.format2}}</h6>
                    </div>
                  </div>
                  <!--FIN PARTE PROFESOR-->

                </ul>
              <!--FIN TAREAS EN ESTADO SIN HACER | COMPLETADAS-->

              <!-- TAREAS EN ESTADO PENDIENTE-->
                <ul *ngIf="task.status === 2" class="accordion-child">
                  <a class="ui teal right corner label label-corner" data-toggle="tooltip" [title]="'Ejercicio ' + (task.type ? 'Anaeróbico' : 'Aeróbico')">
                    <i class="material-icons icon-label-corner">{{ task.type ? 'fitness_center' : 'directions_run' }}</i>
                  </a>

                  <!--PARTE ALUMNO-->
                  <div *ngIf="!aut.esProfesor()">
                    <div class="row">
                      <h5 class="col-md-6">{{task.description}}</h5>
                      <h5 *ngIf="task.type === 0" class="col-md-12 text-pending">Tus objetivos eran {{task.objective1}} {{task.format1}} en {{task.objective2}} {{task.format2}}</h5>
                      <h5 *ngIf="task.type === 1" class="col-md-12 text-pending">Tus objetivos eran {{task.objective2}} {{task.format2}} con {{task.objective1}} {{task.format1}}</h5>
                      <h5 *ngIf="task.type === 0" class="col-md-12 text-pending-2">Conseguiste completar {{task.result1}} {{task.format1}} en {{task.result2}} {{task.format2}}</h5>
                      <h5 *ngIf="task.type === 1" class="col-md-12 text-pending-2">Conseguiste completar {{task.result2}} {{task.format2}} con {{task.result1}} {{task.format1}}</h5>
                    </div>
                    <div class="ui icon warning message pending-message">
                      <i class="material-icons icon-pending-message">watch_later</i>
                      <div class="content">
                        <div class="header">
                          Tarea pendiente de aprobación
                        </div>
                        <p>Espera a que tu entrenador te dé el visto bueno o te cambie los objetivos de la tarea</p>
                      </div>
                    </div>
                  </div>
                  <!--FIN PARTE ALUMNO-->

                  <!--PARTE PROFESOR-->
                  <div *ngIf="aut.esProfesor()">
                    <div class="row">
                      <h5 class="col-md-6">{{task.description}}</h5>
                      <h5 *ngIf="task.type === 0" class="col-md-12 text-pending">Los objetivos eran {{task.objective1}} {{task.format1}} en {{task.objective2}} {{task.format2}}</h5>
                      <h5 *ngIf="task.type === 1" class="col-md-12 text-pending">Los objetivos eran {{task.objective2}} {{task.format2}} con {{task.objective1}} {{task.format1}}</h5>
                      <h5 *ngIf="task.type === 0" class="col-md-12 text-pending-2">{{student.name}} consiguió completar {{task.result1}} {{task.format1}} en {{task.result2}} {{task.format2}}</h5>
                      <h5 *ngIf="task.type === 1" class="col-md-12 text-pending-2">{{student.name}} consiguió completar {{task.result2}} {{task.format2}} con {{task.result1}} {{task.format1}}</h5>
                    </div>
                    <div class="row task-treatment-buttons">
                      <button (click)="task.status = 1" class="btn btn-success"><i class="material-icons">done</i> Dar como completada</button>
                      <button (click)=editTrigger(task) class="btn btn-danger"><i class="material-icons">mode_edit</i> Editar tarea</button>
                    </div>
                  </div>
                </ul>
                <!--FIN PARTE PROFESOR-->
            <!-- FIN TAREAS EN ESTADO PENDIENTE-->

                <!--MODO EDITAR (solo profesor)-->
                <ul id="{{'edit-window-' + task.id}}" *ngIf="aut.esProfesor()" class="accordion-child start-no-display">
                  <h3 id="titulo-editar-tarea">Editar tarea</h3>

                  <div class="form-group">
                    <label for="nombreTarea" class="col-md-2 control-label">Nombre</label>
                    <div class="col-md-10">
                      <input [(ngModel)]="task.name" class="form-control" id="nombreTarea-EDITAR" placeholder="Nombre de la tarea" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="descripcionTarea" class="col-md-2 control-label">Descripción</label>
                    <div class="col-md-10">
                      <textarea [(ngModel)]="task.description" class="form-control" id="descripcionTarea-EDITAR" placeholder="Decripción de la tarea" type="text"></textarea>
                    </div>
                  </div>

                  <div *ngIf="!task.type" id="{{'form-aerobico-EDITAR-' + task.id}}">
                    <div class="col-md-4 form-group">
                      <input [(ngModel)]="task.objective1" class="form-control" id="repeticiones-tarea-EDITAR" placeholder="Num. repeticiones" type="number">
                    </div>
                    <div class="col-md-2 form-group">
                      <select [(ngModel)]="task.format1" class="form-control" id="formato-repeticiones-EDITAR">
                        <option value="repeticiones">Repeticiones</option>
                        <option value="series">Series</option>
                      </select>
                    </div>
                    <div class="col-md-4 form-group">
                      <input [(ngModel)]="task.objective2" class="form-control" id="peso-tarea-EDITAR" placeholder="Peso" type="number">
                    </div>
                    <div class="col-md-2 form-group">
                      <select [(ngModel)]="task.format2" class="form-control" id="formato-peso-EDITAR">
                        <option value="repeticiones">Kg</option>
                        <option value="series">Peso propio</option>
                      </select>
                    </div>
                  </div>

                  <div *ngIf="task.type" id="{{'form-anaerobico-EDITAR-' + task.id}}">
                    <div class="col-md-4 form-group">
                      <input [(ngModel)]="task.objective1" class="form-control" id="distancia-tarea-EDITAR" placeholder="Distancia" type="number">
                    </div>
                    <div class="col-md-2 form-group">
                      <select [(ngModel)]="task.format1" class="form-control" id="formato-distancia-EDITAR">
                        <option value="km">Km</option>
                        <option value="metros">Metros</option>
                      </select>
                    </div>
                    <div class="col-md-4 form-group">
                      <input [(ngModel)]="task.objective2" class="form-control" id="tiempo-tarea-EDITAR" placeholder="Tiempo" type="number">
                    </div>
                    <div class="col-md-2 form-group">
                      <select [(ngModel)]="task.format2" class="form-control" id="formato-tiempo-EDITAR">
                        <option value="minutos">Minutos</option>
                        <option value="horas">Horas</option>
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 col-xs-6 col-botones-dialog">
                      <button (click)=editTrigger(task) class="boton-dialog btn btn-danger">Cancelar</button>
                    </div>
                    <div class="col-md-6 col-xs-6 col-botones-dialog">
                      <button  (click)=saveEdit(task) class="boton-dialog btn btn-success pull-right">Aceptar</button>
                    </div>
                  </div>

                </ul>
              <!--FIN MODO EDITAR-->

            </ul>
            <!-- FIN TAREAS -->

            <!-- AÑADIR TAREA (ENTRENADOR) -->
            <div id="container-boton-anyadir-tarea">
              <button *ngIf="aut.esProfesor()" (click)="showDialog()" class="btn btn-primary">Añadir tarea</button>
            </div>
          </div>



          <!-- TAB 2 -> COMENTARIOS -->


          <div *ngIf="tab === 2" class="panel-body" [class.more-margin]="student.goal.comments.length > 0">

            <!-- ALERTAS -->
            <div *ngIf="student.goal.comments.length === 0" class="ui icon info message">
              <i class="comments icon"></i>
              <div class="content">
                <div class="header">
                  Sin comentarios
                </div>
                <p>Aqui podrás plantear añadir comentarios a la meta</p>
              </div>
            </div>

            <!-- FORMULARIO Y VISTA DE COMENTARIOS -->
            <comment [(comments)]="student.goal.comments"></comment>

          </div>


          <!-- TAB 3 -> DIETAS -->

          <div *ngIf="tab === 3" id="tab-dieta" class="panel-body">

            <!-- ALERTAS -->
            <div *ngIf="student.goal.diet_id === -1" class="ui icon warning message">
              <i class="table icon"></i>
              <div class="content">
                <div class="header">
                  Sin dieta asignada
                </div>
                <p>{{ aut.esProfesor() ? 'Puedes añadir una dieta a tu alumno' : 'Contacta con tu entrenador para que te asigne una dieta a tu meta' }}</p>
                <ul *ngIf="aut.esProfesor()" class="list">
                  <li>Añade el contenido que consideres correcto para la dieta del alumno pulsando <code>editar</code></li>
                  <li>Cuando acabes, pulsa <code>guardar</code></li>
                </ul>
              </div>
            </div>

            <!-- FORMULARIO Y VISTA DE LA DIETA -->
            <diets *ngIf="student.goal.diet || aut.esProfesor()" [(diet)]="student.goal.diet"></diets>

          </div>

        </div>
        <!--<div>
        </div>-->
      </div>
      <!--<div class="col-md-2"></div>-->
    </div>

    <!-- NUEVA TAREA -->

    <div id="dialog-mat" [class.modalsp]="posChanged" class='wrap material-dialog'>
      <div id="dialog-mat-content" class='content'>
        <h3 id="titulo-nueva-tarea">Nueva tarea</h3>

        <div class="form-group form-radio-button">
          <div class="radio radio-button-tarea">
            <label>
              <input (click)="setType(0)" class="boton-de-radio" type="radio" name="sample1" value="1"><span class="circle"></span><span class="check"></span> AERÓBICA
            </label>
          </div>
          <div class="radio radio-button-tarea">
            <label>
              <input (click)="setType(1)" class="boton-de-radio" type="radio" name="sample1" value="2"><span class="circle"></span><span class="check"></span> ANAERÓBICA
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="nombreTarea" class="col-md-2 control-label">Nombre</label>
          <div class="col-md-10">
            <input [(ngModel)]="task.name" class="form-control" id="nombreTarea" placeholder="Nombre de la tarea" type="text">
          </div>
        </div>
        <div class="form-group">
          <label for="descripcionTarea" class="col-md-2 control-label">Descripción</label>
          <div class="col-md-10">
            <textarea [(ngModel)]="task.description" class="form-control" id="descripcionTarea" placeholder="Decripción de la tarea" type="text"></textarea>
          </div>
        </div>

        <ul class="breadcrumb">
          <li class="active">Escoja el tipo de ejercicio...</li>
        </ul>

        <div class="start-no-display" id="form-anaerobico">
          <div class="col-md-4 form-group">
            <input [(ngModel)]="task.objective1" class="form-control" id="repeticiones-tarea" placeholder="Num. repeticiones" type="number">
          </div>
          <div class="col-md-2 form-group">
            <select [(ngModel)]="task.format1" class="form-control" id="formato-repeticiones">
              <option value="repeticiones">Repeticiones</option>
              <option value="series">Series</option>
            </select>
          </div>
          <div class="col-md-4 form-group">
            <input [(ngModel)]="task.objective2" class="form-control" id="peso-tarea" placeholder="Peso" type="number">
          </div>
          <div class="col-md-2 form-group">
            <select [(ngModel)]="task.format2" class="form-control" id="formato-peso">
              <option value="repeticiones">Kg</option>
              <option value="series">Peso propio</option>
            </select>
          </div>
        </div>

        <div class="start-no-display" id="form-aerobico">
          <div class="col-md-4 form-group">
            <input [(ngModel)]="task.objective1" class="form-control" id="distancia-tarea" placeholder="Distancia" type="number">
          </div>
          <div class="col-md-2 form-group">
            <select [(ngModel)]="task.format1" class="form-control" id="formato-distancia">
              <option value="km">Km</option>
              <option value="metros">Metros</option>
            </select>
          </div>
          <div class="col-md-4 form-group">
            <input [(ngModel)]="task.objective2" class="form-control" id="tiempo-tarea" placeholder="Tiempo" type="number">
          </div>
          <div class="col-md-2 form-group">
            <select [(ngModel)]="task.format2" class="form-control" id="formato-tiempo">
              <option value="minutos">Minutos</option>
              <option value="horas">Horas</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-xs-6 col-botones-dialog">
            <button (click)="saveTask(false)" class="boton-dialog btn btn-danger">Cancelar</button>
          </div>
          <div class="col-md-6 col-xs-6 col-botones-dialog">
            <button (click)="saveTask(true)" class="boton-dialog btn btn-success pull-right">Aceptar</button>
          </div>
        </div>

      </div>
    </div>

    <!-- FIN NUEVA TAREA -->

    <div id="blurizable"></div>
