.edit-form{
  margin-top: 0px !important;
  margin: 0 0 30px 0 !important;
}

.item.min-width-day {
  min-width: 95px !important;
  cursor: default !important;
  box-align: center;
}

.centered-day {
  width: 100%;
}
