<div class="row">
  <div class="col-md-4">
    <h5 class="ui top attached header">
    Tipo
  </h5>
    <div class="ui attached segment">
      <p *ngIf="!edit_mode">{{ diet.name }}</p>
      <fieldset *ngIf="edit_mode">
        <div *ngIf="edit_mode" class="edit-form form-group">
          <label for="inputPassword" class="col-md-2 control-label">Nombre</label>
          <div class="col-md-9 col-md-offset-1">
            <input [(ngModel)]="diet.name" type="text" class="form-control" placeholder="Nombre de la dieta">
          </div>
        </div>
      </fieldset>
    </div>
    <h5 class="ui attached header">
    Descripcion
  </h5>
    <div class="ui attached segment">
      <p *ngIf="!edit_mode">{{ diet.description }}</p>
      <fieldset *ngIf="edit_mode">
        <div *ngIf="edit_mode" class="edit-form form-group">
          <label for="inputPassword" class="col-md-2 control-label">Descripción</label>
          <div class="col-md-9 col-md-offset-1">
            <textarea rows="3" [(ngModel)]="diet.description" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
          </div>
        </div>
      </fieldset>
    </div>
    <h5 class="ui attached header">
    Notas
  </h5>
    <div class="ui attached segment">
      <p *ngIf="!edit_mode">{{ diet.notes }}</p>
      <fieldset *ngIf="edit_mode">
        <div class="edit-form form-group">
          <label for="inputPassword" class="col-md-2 control-label">Notas</label>
          <div class="col-md-9 col-md-offset-1">
            <textarea rows="3" [(ngModel)]="diet.notes" type="text" class="form-control" placeholder="notas de la dieta"></textarea>
          </div>
        </div>
      </fieldset>
    </div>
    <div *ngIf="!rol" class="ui bottom attached warning message">
      <i class="warning icon"></i> Ante cualquier alergia, contacta con tu entrenador
    </div>
  </div>
  <div class="col-md-8">
    <table id="tabla-dieta" class="ui celled table">
      <thead>
        <tr>
          <!-- CABECERA -->
          <th colspan="2">
            <div class="ui pagination menu">
              <a (click)="hideColumns(day - 1)" class="icon item">
                <i class="left chevron icon"></i>
              </a>
              <a class="item">{{ day_s }}</a>
              <a (click)="hideColumns(day + 1)" class="icon item">
                <i class="right chevron icon"></i>
              </a>
            </div>
            <div *ngIf="edit_mode" (click)="editMode(false)" class="ui right floated small red labeled icon button">
              <i class="remove icon"></i> Cancelar
            </div>
            <div *ngIf="edit_mode" (click)="editMode(true)" class="ui right floated small teal labeled icon button">
              <i class="save icon"></i> Guardar
            </div>
            <div *ngIf="!edit_mode && rol" (click)="editMode(false)" class="ui right floated small teal labeled icon button">
              <i class="edit icon"></i> Editar
            </div>
            <div *ngIf="edit_mode" class="ui info message">
              <i class="info icon"></i> Escribe "-" seguido del plato
            </div>
          </th>
          <!-- FIN CABECERA -->
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Desayuno</td>
          <td>
              <p *ngIf="!edit_mode">{{ diet.matrix[0][0] | ShowFood:0 }}</p>
              <p *ngIf="!edit_mode">{{ diet.matrix[0][0] | ShowFood:1 }}</p>
              <p *ngIf="!edit_mode">{{ diet.matrix[0][0] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Desayuno</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[0][0]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[1][0] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[1][0] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[1][0] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Desayuno</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[1][0]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[2][0] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[2][0] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[2][0] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Desayuno</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[2][0]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[3][0] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[3][0] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[3][0] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Desayuno</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[3][0]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[4][0] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[4][0] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[4][0] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Desayuno</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[4][0]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[5][0] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[5][0] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[5][0] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Desayuno</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[5][0]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[6][0] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[6][0] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[6][0] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Desayuno</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[6][0]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
        </tr>
        <tr>
          <td>Comida</td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[0][1] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[0][1] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[0][1] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Comida</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[0][1]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[1][1] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[1][1] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[1][1] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Comida</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[1][1]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[2][1] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[2][1] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[2][1] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Comida</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[2][1]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[3][1] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[3][1] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[3][1] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Comida</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[3][1]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[4][1] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[4][1] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[4][1] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Comida</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[4][1]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[5][1] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[5][1] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[5][1] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Comida</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[5][1]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[6][1] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[6][1] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[6][1] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Comida</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[6][1]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
        </tr>
        <tr>
          <td>Merienda</td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[0][2] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[0][2] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[0][2] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Merienda</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[0][2]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[1][2] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[1][2] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[1][2] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Merienda</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[1][2]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[2][2] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[2][2] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[2][2] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Merienda</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[2][2]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[3][2] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[3][2] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[3][2] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Merienda</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[3][2]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[4][2] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[4][2] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[4][2] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Merienda</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[4][2]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[5][2] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[5][2] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[5][2] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Merienda</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[5][2]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[6][2] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[6][2] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[6][2] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Merienda</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[6][2]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
        </tr>
        <tr>
          <td>Cena</td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[0][3] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[0][3] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[0][3] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Cena</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[1][3]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[1][3] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[1][3] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[1][3] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Cena</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[1][3]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[2][3] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[2][3] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[2][3] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Cena</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[2][3]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[3][3] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[3][3] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[3][3] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Cena</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[3][3]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[4][3] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[4][3] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[4][3] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Cena</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[4][3]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[5][3] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[5][3] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[5][3] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Cena</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[5][3]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
          <td>
            <p *ngIf="!edit_mode">{{ diet.matrix[6][3] | ShowFood:0 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[6][3] | ShowFood:1 }}</p>
            <p *ngIf="!edit_mode">{{ diet.matrix[6][3] | ShowFood:2 }}</p>
            <fieldset *ngIf="edit_mode">
              <div *ngIf="edit_mode" class="edit-form form-group">
                <label class="col-md-2 control-label">Cena</label>
                <div class="col-md-9 col-md-offset-1">
                  <textarea rows="3" [(ngModel)]="diet.matrix[6][3]" type="text" class="form-control" placeholder="Descripcion de la dieta"></textarea>
                </div>
              </div>
            </fieldset>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
