<!-- Dasboard Admin -->

<div class="row sp-container-lg col-md-offset-1 col-md-10">
  <div class="panel panel-default">
    <div class="panel-heading mdl-typography--title"><i class="dashboard icon"></i> DashBoardAdministrador
      <button (click)="logOut()" class="btn btn-raised pull-right btn-fab"><i class="material-icons">exit_to_app</i></button>
    </div>
    <br>
    <div class="panel-body">

      <!-- TABLA -->
      <table class="ui celled structured table teal">
        <thead>
          <tr>
            <th colspan="8">Tabla Entrenadores-Alumnos</th>
          </tr>
        </thead>
        <tbody *ngFor="#trainer of trainers">
          <tr>
            <td class="three wide active sp-not">
              <a class="ui teal ribbon label sp-label-statistic">{{ trainer.name + " " + trainer.lastname}}</a>
              <span class="pull-right"><i class="teal users icon"></i>Alumnos: {{trainer.students.length}}</span>
            </td>
            <td class="one wide active"><i class="teal trophy icon"></i> Metas</td>
            <td class="one wide active"><i class="teal unordered list icon"></i> Tareas</td>
            <td class="three wide active" colspan="2"><i class="teal large crosshairs icon"></i> Meta actual </td>
            <td class="one wide active"><i class="teal birthday icon"></i> Edad </td>
            <td class="two wide active"><i class="teal calendar icon"></i> Fecha de registro </td>
            <td class="two wide active"><i class="mail teal icon"></i> Correo Electrónico</td>
          </tr>
          <tr *ngFor="#student of trainer.students">
            <td (click)="goToDetails()" class="sp-not sp-link"><i [class]="student.gender ? 'pink female icon large' : 'blue male icon large'"></i><b>{{ student.name}}</b> {{student.lastname}}</td>
            <td>
              <!-- METAS -->
              <span class="sp-text">{{ student.name.length }}</span>
            </td>
            <td>
              <!-- TAREAS -->
              <span class="sp-text">{{ student.lastname.length }}</span>
            </td>
            <td [class]="student.goal !== null ? 'positive' : 'negative'">
              <!-- META ACTUAL -->
              {{ student.goal | GoalName }}
            </td>
            <td>
              <!-- TAREAS COMPLETADAS -->
              <div class="ui mini statistic teal">
                <div class="value">
                  {{ student.name.length - 2 }}/{{ student.name.length }}
                </div>
                <div class="label sp-label-statistic">
                  Completadas
                </div>
              </div>
            </td>
            <td>
              <!-- EDAD -->
              <span class="sp-text">{{ student.age }}</span>
            </td>
            <td>
              <!-- FECHA REGISTRO -->
              <span class="sp-text mini">{{ student.registration_date }}</span>
            </td>
            <td>
              <!-- EMAIL -->
              {{ student.email }}
            </td>
          </tr>
        </tbody>
      </table>
      <!-- FIN TABLA -->

      <div class="ui grid">

        <!-- COLUMNA ROJA -->
        <div class="twelve wide column">
          <div class="ui red segment">
            <h4 class="ui header"><a class="ui red ribbon label sp-label-statistic"><i class="bar large chart icon"></i> Estadisticas</a></h4>
            <div class="ui statistics">
              <div class="statistic">
                <div class="value">
                  <i class="student icon"></i> {{studentNum}}
                </div>
                <div class="label sp-label-statistic">
                  Alumnos
                </div>
              </div>
              <div class="statistic">
                <div class="value">
                  <i class="user icon"></i> {{trainersNum}}
                </div>
                <div class="label sp-label-statistic">
                  Entrenadores
                </div>
              </div>
              <div class="statistic">
                <div class="value">
                  <i class="trophy icon"></i> 13
                </div>
                <div class="label sp-label-statistic">
                  Metas Completadas
                </div>
              </div>
              <div class="statistic">
                <div class="value">
                  <i class="flag icon"></i> 44
                </div>
                <div class="label sp-label-statistic">
                  Tareas Completadas
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- FIN COLUMNA ROJA -->

        <!-- COLUMNA AZUL -->
        <div class="four wide column">
          <div class="ui blue segment">
            <h4 class="ui header"><a class="ui blue ribbon label sp-label-statistic">Otros</a></h4>
            <div class="btn btn-lg btn-block btn-raised btn-info">Añadir Entrenador</div>
            <div class="btn btn-lg btn-block btn-raised btn-default">Opciones </div>
          </div>
        </div>
        <!-- FIN COLUMNA AZUL -->

      </div>
    </div>
