<div class="sp-container-lg">
  <!-- Dietas -->
  <div class="row">
    <div class=" col-md-offset-1 col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">{{ diet }}</div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Lunes</th>
                  <th>Martes</th>
                  <th>Miercoles</th>
                  <th>Jueves</th>
                  <th>Viernes</th>
                  <th>Sabado</th>
                  <th>Domingo</th>
                </tr>
              </thead>
              <tbody>
                <tr class="danger">
                  <td>Desayuno</td>
                  <td>
                    <div class="well well-sm">
                      <p>- Leche descremada </p>
                      <p>- 2 biscotes sin sal con aceite de oliva</p>
                      <p>- 1 naranja</p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- Leche descremada </p>
                      <p>- 2 biscotes sin sal con aceite de oliva</p>
                      <p>- 1 naranja</p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- Leche descremada </p>
                      <p>- 2 biscotes sin sal con aceite de oliva</p>
                      <p>- 1 naranja</p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- Leche descremada </p>
                      <p>- 2 biscotes sin sal con aceite de oliva</p>
                      <p>- 1 naranja</p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- Leche descremada </p>
                      <p>- 2 biscotes sin sal con aceite de oliva</p>
                      <p>- 1 naranja</p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- Leche descremada </p>
                      <p>- 2 biscotes sin sal con aceite de oliva</p>
                      <p>- 1 naranja</p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- Leche descremada </p>
                      <p>- 2 biscotes sin sal con aceite de oliva</p>
                      <p>- 1 naranja</p>
                    </div>
                  </td>
                </tr>
                <tr class="active">
                  <td>Comida</td>
                  <td>
                    <div class="well well-sm">
                      <p>- Menestra de verduras </p>
                      <p>- Conejo al tomillo</p>
                      <p>- 1 manzana</p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- Menestra de verduras </p>
                      <p>- Conejo al tomillo</p>
                      <p>- 1 manzana</p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- Menestra de verduras </p>
                      <p>- Conejo al tomillo</p>
                      <p>- 1 manzana</p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- Menestra de verduras </p>
                      <p>- Conejo al tomillo</p>
                      <p>- 1 manzana</p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- Menestra de verduras </p>
                      <p>- Conejo al tomillo</p>
                      <p>- 1 manzana</p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- Menestra de verduras </p>
                      <p>- Conejo al tomillo</p>
                      <p>- 1 manzana</p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- Menestra de verduras </p>
                      <p>- Conejo al tomillo</p>
                      <p>- 1 manzana</p>
                    </div>
                  </td>
                </tr>
                <tr class="danger">
                  <td>Merienda</td>
                  <td>
                    <div class="well well-sm">
                      <p>- 1 yogur desnatado </p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- 1 yogur desnatado </p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- 1 yogur desnatado </p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- 1 yogur desnatado </p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- 1 yogur desnatado </p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- 1 yogur desnatado </p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- 1 yogur desnatado </p>
                    </div>
                  </td>
                </tr>
                <tr class="active">
                  <td>Cena</td>
                  <td>
                    <div class="well well-sm">
                      <p>- Ensalada de scarola, granada y pepitas de girasol </p>
                      <p>- Merluza al vapor</p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- Ensalada de scarola, granada y pepitas de girasol </p>
                      <p>- Merluza al vapor</p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- Ensalada de scarola, granada y pepitas de girasol </p>
                      <p>- Merluza al vapor</p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- Ensalada de scarola, granada y pepitas de girasol </p>
                      <p>- Merluza al vapor</p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- Ensalada de scarola, granada y pepitas de girasol </p>
                      <p>- Merluza al vapor</p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- Ensalada de scarola, granada y pepitas de girasol </p>
                      <p>- Merluza al vapor</p>
                    </div>
                  </td>
                  <td>
                    <div class="well well-sm">
                      <p>- Ensalada de scarola, granada y pepitas de girasol </p>
                      <p>- Merluza al vapor</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="table-responsive">
  <table id="tabla-dieta" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Material</th>
        <th>Quantity</th>
        <th>Unit price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
        <td>25</td>
        <td>$2.90</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
        <td>50</td>
        <td>$1.25</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
        <td>10</td>
        <td>$2.35</td>
      </tr>
    </tbody>
  </table>
</div>
