*:focus {
  outline: none;
}

.hide {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
}

.accordion {
    background: #fff;
    /*border: 1px solid #e0e0e0;*/
    padding: 0 0 0 0;
}

.accordion-item {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
}

.accordion-item:first-child {
    border-top: 1px #eeeeee;
}

.accordion-label {
    padding: 20px 0px 10px 18px;
    width: 100%;
    display: block;
    font-size: 18px;
    color: inherit;
}

.accordion-label-completed {
    padding: 20px 0px 10px 30px;
    width: 100%;
    display: block;
    font-size: 18px;
    color: inherit;
}

.accordion-label:hover {
    cursor: pointer;
}



.accordion-child {
    margin: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0.33, 0.75, 0.56, 1.1);;
    transition: all 0.3s cubic-bezier(0.33, 0.75, 0.56, 1.1);;
    opacity: 0;
    height: 0;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: center top;
    transform-origin: center top;
}

input[type=checkbox]:checked ~ .accordion-child {
    border: 1px solid #e0e0e0;
    margin: 0 20px 15px 20px;
    background: #fff;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.16);
    padding: 30px;
    height: auto;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

#botones-tarea {
    padding: 10px 15px 10px 15px;
}

.margin-row {
    padding-bottom: 10px;
    padding-top: 10px;
}

.material-dialog {
    position: absolute;
    margin-bottom: 30px;
    overflow: hidden;
    top: 0;

    padding: 20px 50px;
    display: block;
    border-radius: 4px;
    transform: translateY(20px);
    visibility: hidden;
    z-index: 100;
    margin-top: 0;
    margin-bottom: 20px;
}

.material-dialog .content {
    opacity: 0;
}

.material-dialog:before {
    position: absolute;
    width: 1px;
    height: 1px;
    background: white;
    content: "";
    bottom: 10px;
    left: 50%;
    top: 95%;
    color: #fff;
    border-radius: 50%;
}

.material-dialog.active {
    display: block;
    visibility: visible;
    box-shadow: 2px 3px 16px silver;
    transition: all 600ms;
    transform: translateY(0px);
    transition: all 0.5s;
}

.material-dialog.active:before {
    height: 2000px;
    width: 2000px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -1000px;
    margin-top: -1000px;
    display: block;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 2);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 2);
}

.material-dialog.active .content {
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

a.glyphicon-plus {
    float: right;
    padding: 11px 11px 13px 13px;
    outline: none;
    border-radius: 50%;
    background: #B71C1C;
    color: white;
    font-size: 24px;
    /*display: block;
  position: fixed;*/
    transition: transform 0.25s;
    z-index: 100;
}

a.glyphicon-plus:hover {
    text-decoration: none;
    transform: scale(1.05);
    transition: transform 0.2s;
    background: #EF5350;
    color: white;
    cursor: pointer;
}

a.glyphicon-plus.active {
    transform: rotate(135deg);
    transition: transform 0.5s;
    background-color: #EF5350;
}

.blur-backgorund {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

#titulo-nueva-tarea {
    text-align: center;
}

#blurizable {
    display: none;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 90;
    position: fixed;
}

.change-style-blur {
    background-color: rgba(154, 154, 154, 0.41);
    display: block !important;
}

.jumbotron {
    z-index: 80;
}

.task-completed {
    background-color: rgba(0, 150, 136, 0.12);
    color: rgba(153, 153, 153, 0.79);
}

.accordion-pending {
    background-color: rgba(255, 135, 0, 0.15);
}

.form-radio-button {
    text-align: center;
}

.radio-button-tarea {
    display: inline !important;
}

#boton-back {
    position: absolute;
    margin-left: -40px;
    background-color: rgb(200, 200, 200);
}

#titulo-meta {
    text-align: center;
    margin-top: 10px;
}

.titulo-meta-prof {
    margin-left: 30px;
}

#container-boton-anyadir-tarea {
  text-align: center;
}

/*Las siguientes consultas @media hacen responsive dinámicamente ante los cambios el dialog de añadir tarea*/
@media screen and (max-width: 992px){
    .breadcrumb {
      margin-top: 0px !important;
    }
}

@media screen and (max-width: 767px){
    .boton-dialog {
      padding: 20px 0 20px 0 !important;
    }

    #col-botones-tarea {
      padding: 10px 0 10px 0;
    }

    #col-nombre-tarea {
      padding: 10px 0 10px 0;
    }

    .one-line-right {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
}

.start-no-display {
  display:none;
}

.breadcrumb {
  margin-top: 100px;
  margin-bottom: 0px !important;
}

.position-changed {
  position: relative;
}

.col-botones-dialog {
  padding: 0 0 0 0 !important;
}

.icon-label-corner {
  margin-left: 20px;
  margin-top: 2px;
}

.ui.teal.right.corner.label.label-corner {
  border-color: #009688 !important;
  cursor: default;
}

.only-check-no-button{
  background: transparent;
  box-shadow: none;
  pointer-events: none;
  color: #009688;
}

.hover-transition-to-do {
  transition-duration: .28s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: background-color;
}

.hover-transition-to-do:hover{
  background-color: #eeeeee;
}

.hover-transition-pending {
  transition-duration: .28s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: background-color;
}

.hover-transition-pending:hover{
  background-color: rgba(185, 128, 65, 0.25);
}

#tab-tarea{
  padding: 0 0 0 0;
}

#ul-accordion {
  margin: 0 0 0 0;
}

#dialog-mat {
  margin-top: 20px;
}

#botones-tabs {
  padding-bottom: 0 !important;
  border-bottom: 1px solid;
  border-color: #DCDCDC;
  background-color: #eeeeee;
}

#botones-tabs-in {
  margin-top: 20px;
}

#barra-progreso-meta {
  margin: 0 0 0 0;
}

#tabla-dieta {
  width: 100%;
}

.margin-tunned {
  margin: 15px 15px 15px 15px !important;
  width: auto !important;
}

.more-margin {
  margin: 32px 32px 32px 32px !important;
}



/*Pure CSS SLIDERS*/

input[type=range] {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
  height: 2em;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: #D2D2D2;
  color: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5em;
  height: 1.5em;
  margin-top: 0;
  background-color: #009688;
  border-radius: 1em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 1em;
  height: 1em;
  margin-top: 0;
  background-color: #009688;
  border-radius: 1em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  width: 1em;
  height: 1em;
  margin-top: 0;
  background-color: #009688;
  border-radius: 1em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
input[type=range]:hover::-webkit-slider-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type=range]:hover::-moz-range-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type=range]:hover::-ms-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type=range]:active::-webkit-slider-thumb {
  border-color: #D2D2D2;
}
input[type=range]:active::-moz-range-thumb {
  border-color: #D2D2D2;
}
input[type=range]:active::-ms-thumb {
  border-color: #D2D2D2;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  height: 1em;
  border-bottom: 2px solid #D2D2D2;
  background-color: transparent;
}
input[type=range]::-moz-range-track {
  width: 100%;
  cursor: pointer;
  border-bottom: 2px solid #D2D2D2;
  background-color: transparent;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: #D2D2D2;
  color: transparent;
}

.slider-result {
  text-align: left !important;
  font-size: 20px !important;
}

.add-color-label {
  color:  #009688 !important;
  font-weight: bold !important;
}

.h6-no-margin-top {
  margin-top: 0;
}

.text-pending {
  text-align: center;
  color:  #6a6a6a;
}

.text-pending-2 {
  text-align: center;
  color:  #009688;
}

.task-treatment-buttons {
  text-align: center;
  margin-top: 20px;
}

.pending-message {
  margin-top: 2em !important;
}

.icon-pending-message {
  margin-right: 0.6em;
}

.one-line-left {
  display: inline-block;
}

.one-line-right {
  display: inline-flex;
  float: right !important;
}
