<div class="content">
  <div class="well well-sm">
    <p><b>Meta del alumno</b></p>
    <p *ngIf="student.goal"> {{ student.goal | GoalName }}</p>
    <div *ngIf="student.goal" class="progress">
      <div class="progress-bar" [style.width.%]="progress()">
        <span class="sp-label">{{ progress(student) | BeautifyProgessBar }}</span>
      </div>
    </div>
    <p *ngIf="!student.goal" class="sp-label2 text-muted">Sin tareas completadas</p>
  </div>
  <div class="ui relaxed divided list">
    <div class="item">
      <i class="large mail outline middle aligned icon"></i>
      <div class="content">
        <a class="header">Email</a>
        <div class="description"><small>{{student.email}}</small></div>
      </div>
    </div>
    <div class="item">
      <i class="large birthday middle aligned icon"></i>
      <div class="content">
        <a class="header">Edad</a>
        <div class="description">{{student.birthday | date}} ({{anyos()}} años)</div>
      </div>
    </div>
    <div class="item">
      <i class="large calendar middle aligned icon"></i>
      <div class="content">
        <a class="header">Matriculación</a>
        <div class="description">{{student.registrationDate | date }}</div>
      </div>
    </div>
  </div>
</div>
