<div class="container-fluid general">

  <!-- Perfil visible-->
  <div *ngIf="editMode == 0" class="panel panel-default col-md-6 col-md-offset-3">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5">
          <img class="img-circle img-responsive" [src]="aut.User().imageUrl" (click)="changeEditMode(4)">
        </div>
        <div class="col-md-7">
          <div class="ui relaxed divided list">
            <div class="item">
              <div class="content">
                <h3>Mi datos personales</h3></div>
            </div>
            <div class="item">
              <i class="large user outline middle aligned icon"></i>
              <div class="content">
                <a class="header">Nombre y apellidos</a>
                <div class="description">{{aut.User()?.name + " " + aut.User()?.lastname}}</div>
              </div>
            </div>
            <div class="item">
              <div class="right floated content">
                <i class="large edit middle aligned icon" (click)="changeEditMode(1)"></i>
              </div>
              <i class="large mail outline middle aligned icon"></i>
              <div class="content">
                <a class="header">Email</a>
                <div class="description">{{aut.User()?.email}}</div>
              </div>
            </div>
            <div class="item">
              <i class="large birthday middle aligned icon"></i>
              <div class="content">
                <a class="header">Fecha de nacimiento</a>
                <div class="description">{{aut.User()?.birthday | date }} ({{anyos()}} años)</div>
              </div>
            </div>
            <div class="item">
              <i [class]="aut.User()?.gender=='Mujer' ? 'pink female icon large' : 'blue male icon large'"></i>
              <div class="content">
                <a class="header">Género</a>
                <div class="description">{{aut.User()?.gender}}</div>
              </div>
            </div>
            <div class="item">
              <i class="large calendar middle aligned icon"></i>
              <div class="content">
                <a class="header">Matriculación</a>
                <div class="description">{{aut.User()?.registrationDate | date }}</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Fin perfil visible-->
    <div id="row-buttons-profile" class="row panel-body">
      <div class="col-md-5">
        <a class="btn btn-ln btn-raised btn-info" (click)="changeEditMode(3)">Registro de Metas</a>
      </div>
      <div class="col-md-7">
        <a class="btn btn-ln btn-raised btn-danger" (click)="changeEditMode(2)">Cambiar contraseña</a>
      </div>
    </div>
  </div>

  <!-- Cambiar e-mail -->
  <div class="col-md-4 col-md-offset-4">
    <div class="form-horizontal panel panel-default" *ngIf="editMode == 1">
      <div class="panel-heading">
        <h3 class="text-muted dialog-title">Editar email</h3></div>
      <div class="panel-body">
        <div class="form-group">
          <label for="inputPassword" class="col-md-2 control-label">Correo</label>
          <div class="col-md-10">
            <input [(ngModel)]="aut.User().email" class="form-control" placeholder="Nuevo email" type="email">
          </div>
        </div>
        <a class="btn btn-ln btn-raised btn-danger" (click)="saveChanges(true)">Guardar nuevo correo</a>
        <span *ngIf="edit_mode != 0" class="btn btn-danger pull-right" (click)="saveChanges(false)"> Atrás</span>
      </div>
    </div>
  </div>

  <!-- Cambiar contraseña -->
  <div class="col-md-4 col-md-offset-4">
    <div class="form-horizontal panel panel-default" *ngIf="editMode == 2">
      <div class="panel-heading">
        <h3 class="text-muted dialog-title">Cambiar contraseña</h3></div>
      <div class="panel-body">
        <div class="form-group">
          <label for="inputPassword" class="col-md-2 control-label">Contraseña</label>
          <div class="col-md-10">
            <input #pass1 type="password" class="form-control" id="inputPassword" placeholder="Nueva contraseña">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-md-2 control-label">Repetir Contraseña</label>
          <div class="col-md-10">
            <input #pass2 type="password" class="form-control" id="inputPassword" placeholder="Repetir contraseña">
          </div>
        </div>
        <alert *ngIf="fieldsIncorrect" (eventShowable)="fieldsIncorrect = false" [mainTitle]="'Campo incorrecto'" [message]="'Revise que ambas contraseñas coincidan'" [color]="'negative'" [closable]="true" [timeable]="-1"></alert>

        <br>

        <a class="btn btn-ln btn-raised btn-danger" (click)="savePass(pass1.value,pass2.value)">Guardar contraseña</a>
        <span *ngIf="edit_mode != 0" class="btn btn-danger pull-right" (click)="saveChanges(false)"> Atrás</span>
      </div>
    </div>
  </div>

  <!-- Cambiar imagen -->
  <div class="col-md-4 col-md-offset-4">
    <div class="form-horizontal panel panel-default" *ngIf="editMode == 4">
      <div class="panel-heading"><h3 class="text-muted dialog-title">Editar imagen de perfil</h3></div>
      <div class="panel-body">
        <form>
      		<div class=" btn btn-default form-group">
      			<label for="exampleInputFile">Subir imagen</label> <input type="file" (change)="selectFile($event)">
      		</div>
          <alert *ngIf="imageResponse" [mainTitle]="imageWellUploded ? '¡Imagen subida con éxito!' : 'Error al subir la imagen'" [message]="" [color]="imageWellUploded ? 'green' : 'negative'" [closable]="false" [timeable]="-1"></alert>
      		<button type="submit" class="btn btn-default" (click)="uploadImage()"> Guardar imagen</button>
      	</form>
        <span *ngIf="edit_mode != 0" class="btn btn-danger pull-right" (click)="saveChanges(false); imageResponse=false;"> Atrás</span>
      </div>
    </div>
  </div>

  <!-- Registro de antiguas metas -->
  <div class="col-md-8 col-md-offset-2">
    <table *ngIf="editMode == 3" class="ui celled structured table">
      <thead>
        <tr>
          <th colspan="8">Histórico de Metas</th>
        </tr>
      </thead>
      <tbody>

        <!-- CABECERA-->
        <tr>
          <td class="six wide active"><i class="teal flag icon"></i> Descripción</td>
          <td class="one wide active"><i class="teal food icon"></i> Dieta asignada </td>
          <td class="one wide active"><i class="teal comments outline icon"></i> Nº comentarios </td>
          <td class="one wide active" colspan="2"><i class="teal line chart icon"></i> Progreso </td>
        </tr>

        <!-- META ACTUAL-->
        <td colspan=4 class="fila-label">
          <div class="ui teal message">
            <div class="header">
              Meta actual
            </div>
          </div>
        </td>
        <tr class="fila-meta-actual">
          <td class="three wide sp-not">
            <span>{{aut.User()?.goal | GoalName }}</span>
          </td>
          <td class="two wide"><i [class]="(aut.User().goal?.diet === null) ? 'teal icon remove' : 'teal icon checkmark'"></i></td>
          <td class="two wide">{{aut.User().goal?.comments?.length}}</td>
          <td class="two wide" colspan="2">{{aut.User().goal?.progress}}%</td>
        </tr>

        <!-- METAS COMPLETADAS-->
        <td *ngIf="completeGoals.length !== 0" colspan=4 class="fila-label">
          <div class="ui success message">
            <div class="header">
              Metas completadas
            </div>
          </div>
        </td>
        <tr *ngFor="#goal of completeGoals" class="fila-metas-completadas">
          <td class="three wide sp-not">
            <span>{{goal | GoalName}}</span>
          </td>
          <td class="two wide"><i [class]="(!goal.diet) ? 'teal icon remove' : 'teal icon checkmark'"></i></td>
          <td class="two wide">{{goal.comments?.length}}</td>
          <td class="two wide" colspan="2">{{goal.progress}}%</td>
        </tr>

        <!-- METAS CANCELADAS-->
        <td *ngIf="canceledGoals.length !== 0" colspan=4 class="fila-label">
          <div class="ui error message">
            <div class="header">
              Metas canceladas
            </div>
          </div>
        </td>
        <tr *ngFor="#goal of canceledGoals" class="fila-metas-canceladas">
          <td class="three wide sp-not">
            <span>{{goal | GoalName}}</span>
          </td>
          <td class="two wide"><i [class]="(goal.diet) ? 'teal icon remove' : 'teal icon checkmark'"></i></td>
          <td class="two wide">{{goal.comments?.length}}</td>
          <td class="two wide" colspan="2">{{goal.progress}}%</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan=4>
            <div class="ui tiny statistics">
              <div class="sp-statics statistic">
                <div class="value">
                  {{num}}
                </div>
                <div class="label sp-label-statistic">
                  Metas
                </div>
              </div>
              <div class="sp-statics green statistic">
                <div class="value">
                  {{numComplete}}
                </div>
                <div class="label sp-label-statistic">
                  Completada/s
                </div>
              </div>
              <div class="sp-statics red statistic">
                <div class="value">
                  {{numCancelled}}
                </div>
                <div class="label sp-label-statistic">
                  Cancelada/s
                </div>
              </div>
              <div class="sp-statics blue statistic">
                <div class="value">
                  {{ numDiets }}
                </div>
                <div class="label sp-label-statistic">
                  Dietas
                </div>
              </div>
              <div class="sp-statics orange statistic">
                <div class="value">
                  {{ numComments }}
                </div>
                <div class="label sp-label-statistic">
                  Comentarios
                </div>
              </div>
              <div class="sp-statics teal statistic">
                <div class="value">
                  {{ numTasks}}
                </div>
                <div class="label sp-label-statistic">
                  Tareas
                </div>
              </div>
              <div class="sp-statics yellow statistic">
                <div class="value">
                  {{progress / num}}%
                </div>
                <div class="label sp-label-statistic">
                  Media de progreso
                </div>
              </div>
            </div>
          </th>
        </tr>
      </tfoot>
    </table>
    <span *ngIf="editMode === 3" class="btn btn-danger pull-right" (click)="saveChanges(false)"> Atrás</span>
  </div>
