<!-- Dasboard entrenador -->

<div class="row sp-container-lg col-md-offset-1 col-md-10">
    <div class="panel panel-default">
        <div class="panel-heading mdl-typography--title sp-center">Alumnos</div>
        <div class="panel-body ui four stackable cards">
            <!-- INICIO TARJETA ALUMNO -->
            <div *ngFor="#student of students" [class.selected]="student === selectedStudent"
                [class.blue]="student === selectedStudent" class="ui red link card fluid card">
                <div class="content">
                    <span class="col-md-8 col-xs-8">
                      <div class="header custom-card-header">{{student.name}} <br><small class="text-muted custom-card-subheader">{{student.lastname}}</small>
                      </div>
                    </span>
                    <!--BOTÓN DE DETALLE-->
                    <span *ngIf="selectedStudent != student" class="col-md-4 col-xs-4">
                      <button (click)="onSelect(student)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored detail-button">
                        <i class="material-icons">face</i>
                      </button>
                    </span>

                    <!--BOTÓN DE ATRÁS-->
                    <span *ngIf="selectedStudent == student" class="col-md-4 col-xs-4">
                      <button (click)="getBack(true)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored back-button">
                        <i class="material-icons">keyboard_backspace</i>
                      </button>
                    </span>
                </div>
                <!-- FOTO ALUMNO -->
                <div *ngIf="selectedStudent != student" class="image">
                    <img [src]="images[student.id -1]">
                    <!-- <img src="https://account.socialbakers.com/default_user.png"> -->
                </div>
                <!-- FIN FOTO ALUMNO -->

                <!-- BOTON PROGRESO -->
                <div *ngIf="selectedStudent != student" class="content">
                    <button *ngIf="student.goal" (click)="goToStudentTask(student)" [class]="student.goal.acepted ? 'btn btn-default btn-raised btn-lg btn-block':'btn btn-danger btn-raised btn-lg btn-block'">
                        <i [class]="student.goal.acepted ? 'material-icons':'warning middle aligned icon'">{{student.goal.acepted ? 'trending_up' : ''}}</i>
                        {{ student.goal.acepted ? 'Progreso' : 'Meta pendiente'}}
                        <div *ngIf="student.goal.acepted" class="progress progress-button" >
                            <div class="progress-bar" [style.width.%]="student.goal.progress">
                                <span class="sp-label">80%</span>
                            </div>
                        </div>
                    </button>
                    <fieldset *ngIf="!student.goal" disabled>
                      <button class="btn btn-default btn-raised btn-lg btn-block">
                          <i class="material-icons">trending_up</i> Sin Meta
                          <div class="progress progress-button" >
                              <div class="progress-bar" [style.width.%]="0">
                              </div>
                          </div>
                      </button>
                    </fieldset>
                </div>
                <!-- FIN BOTON PROGRESO -->

                <!-- DETALLES ALUMNO -->
                <div *ngIf="selectedStudent == student" class="content">
                    <student-detail [student]="selectedStudent"></student-detail>
                </div>
                <!-- FIN DETALLES ALUMNO -->
            </div>
            <!-- FIN TARJETA ALUMNO -->
        </div>
    </div>
</div>
