<div class="content">
    <div class="well well-sm">
      <p><b>Meta del alumno</b></p>
      <p> {{ student.goal | GoalName }}</p>
      <div *ngIf="student.goal != null" class="progress">
        <div class="progress-bar" [style.width.%]="student.goal.progress">
          <span class="sp-label">{{ student.goal.progress | BeautifyProgessBar }}</span>
        </div>
      </div>
      <p *ngIf="false" class="sp-label2 text-muted">Sin tareas completadas</p>
    </div>
      <p><b>Datos personales</b></p>
      <span class="label label-default">Corre electrónico</span>
      <p>{{student.email}}</p>
      <span class="label label-default">Sexo</span>
      <p>{{student.gender | Gender }}</p>
      <span class="label label-default">Edad</span>
      <p>{{student.age}}</p>
      <span class="label label-default">Fecha matriculación</span>
      <p>{{student.registration_date}}</p>

</div>
