<div class="container-fluid page">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">

      <div class="header">

        <!-- site title -->
        <header class="box box-white">
          <h1 class="box-text site-title-text">Spartan - Entrena y mejora</h1>
        </header>
        <nav class="js-nav">
          <ul class="nav-items-container">

            <li class="block-keep-ratio block-keep-ratio-1-1 block-width-half box box-white box-nav-item js-nav-item pull-xs-left">
              <a id="loginBox" class="block-keep-ratio-content box-nav-item-link" [routerLink]="['/Login']">
                <span class="box-text box-text-nav-item flexbox-center">Login</span>
              </a>
            </li>

            <li id="registroAlumnoBox" class="block-keep-ratio block-keep-ratio-1-1 block-width-half box box-white box-nav-item js-nav-item pull-xs-right">
              <a class="block-keep-ratio-content box-nav-item-link" [routerLink]="['/RegistroAlumno']">
                <span class="box-text box-text-nav-item flexbox-center">Registro como alumno</span>
              </a>
            </li>

            <li id="registroEntrenadorBox" class="block-keep-ratio block-keep-ratio-1-1 block-width-half box box-white box-nav-item js-nav-item pull-xs-left">
              <a class="block-keep-ratio-content box-nav-item-link" [routerLink]="['/RegistroEntrenador']">
                <span class="box-text box-text-nav-item flexbox-center">Registro como entrenador</span>
              </a>
            </li>

          </ul>
        </nav>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
      <div class="content-wrapper">
        <!-- Sobre Spartan -->
        <section data-page-id="page-1" class="content">

          <header class="box box-white margin-b-20">
            <h2 class="box-text page-title-text">About Spartan</h2>
          </header>

          <div class="content-text">
            <p>Spartan es una aplicacion web pensada para establecer una relación entrenador - entrenado sencilla y útil a la par, evitando tener presencialmente a tu entrenador/alumno para realizar consultas, pedir tareas, comentar ejercicios...
            </p>
            <p>Spartan es a su vez un mecanismo de autoevaluación durante tu entrenamiento. La aplicación te proporciona una barra de progreso en la que puedes medir el nivel de completitud de tus objetivos. Puedes observar visualmente tu avance, además
              de en tu propio cuerpo.
            </p>
          </div>

        </section>
        <!-- #Sobre Spartan -->
        <!-- Prueba nav -->

        <!-- Fin prueba nav -->
      </div>
    </div>

  </div>

</div>
<!-- .container-fluid -->
