/*

The Story Theme

http://www.templatemo.com/tm-480-story


*/
body, html { overflow-x: hidden; }



a:hover, a:focus { text-decoration: none; }

h1, h2 { margin: 0; }

p:last-child { margin-bottom: 0; }


.page {
	background-color: #222222;
  background-image: url(../../assets/imagenes/fondomain.jpg);
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 300;
	padding: 30px 15;
	overflow-x: hidden;
}

.page-bg-imgs-list { display: none; }

.header {
	max-width: 420px;
	overflow: auto;
}

.content-wrapper { margin-top: 365px; }

.content {
	max-width: 600px;
	margin-left: auto;
	margin-right: 0;
}

.content-gallery { max-width: 900px; }

.content-text {
	background-color: white;
	padding: 40px;
}

.content-text h4 { padding-top: 10px; }

.content-text-gallery {
	padding: 5px;
	position: relative;
	height: auto;
	min-height: 200px;
}

.box {
	display: block;
	padding: 10px;
}

.box-text {
	border: 1px solid gray;
	color: black;
	font-style: italic;
	width: 100%;
	height: 100%;
}

.box-white { background-color: rgba(255, 255, 255, 0.3);	}
.box-black { background-color: rgba(0, 0, 0, 0.7); }

.site-title-text {
	font-size: 3.8em;
	padding-top: 20px;
	padding-bottom: 25px;
	text-align: center;
}

.page-title-text {
	font-size: 2.2em;
	padding: 15px 25px;
	text-align: left;
}

.nav-items-container { padding: 0; }

.box-nav-item {
	margin-bottom: 10px;
	font-size: 1.9em;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.box-nav-item-link { padding: 10px; }

.box-nav-item:hover, .box-nav-item:focus, .box-nav-item.active {
	background-color: rgba(241, 241, 241, 0.59);
}

.box-nav-item:hover .box-text-nav-item,
.box-nav-item:focus .box-text-nav-item,
.box-nav-item.active .box-text-nav-item {
	color: black;
	border: 1px solid black;
}

/* Utility Classes */

.margin-t-30 {	margin-top: 30px; }
.margin-b-20 {	margin-bottom: 20px; }

.block-keep-ratio,
.block-keep-ratio-content {
	display: block;
}

.block-keep-ratio {	position: relative; }

.block-keep-ratio-content {
	position: absolute;
	top: 0; bottom: 0; right: 0; left: 0;
}

.block-keep-ratio:after {
	display: block;
	content: '';
}

.block-keep-ratio-1-1:after { padding-top: 100%; }

.block-width-half { width: 49%; }

.flexbox-center {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

/* Media Queries */

@media screen and (max-width: 991px) {

	.form-group-2-col-left,
	.form-group-2-col-right {
		padding-left: 0;
		padding-right: 0;
	}

	.content { margin: 0 0 0 auto; }

	.content-wrapper {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.footer { position: static;	}
}

@media screen and (max-width: 767px) {
	.content-wrapper { position: static; }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {

	.block-width-half { width: 48%; }

	.box-nav-item { font-size: 1.4em; }

	.site-title-text { font-size: 3em; }
}

@media screen and (max-width: 480px) {

	.block-width-half { width: 48%; }

	.box-nav-item { font-size: 1.4em; }

	.site-title-text { font-size: 3em; }
	.page-title-text { font-size: 1.6em; }

	.content-text { padding: 30px 25px; }
	.content-text-gallery { padding: 5px; }
}
