<div class="container-fluid general">

  <!-- Perfil visible-->
  <div *ngIf="editMode == 0" class="panel panel-default col-md-6 col-md-offset-3">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5">
          <img class="img-circle img-responsive" src="http://semantic-ui.com/images/avatar2/large/matthew.png">
        </div>
        <div class="col-md-7">
          <div class="ui relaxed divided list">
            <div class="item">
              <div class="content">
                <h3>Mi datos personales</h3></div>
            </div>
            <div class="item">
              <i class="large user outline middle aligned icon"></i>
              <div class="content">
                <a class="header">Nombre y apellidos</a>
                <div class="description">{{student.name + " " + student.lastname}}</div>
              </div>
            </div>
            <div class="item">
              <div class="right floated content">
                <i class="large edit middle aligned icon" (click)="editMail()"></i>
              </div>
              <i class="large mail outline middle aligned icon"></i>
              <div class="content">
                <a class="header">Email</a>
                <div class="description">{{student.email}}</div>
              </div>
            </div>
            <div class="item">
              <i class="large birthday middle aligned icon"></i>
              <div class="content">
                <a class="header">Edad</a>
                <div class="description">{{student.age}} años</div>
              </div>
            </div>
            <div class="item">
              <i [class]="student.gender ? 'pink female icon large' : 'blue male icon large'"></i>
              <div class="content">
                <a class="header">Género</a>
                <div class="description">{{student.gender ? 'Femenino' : 'Masculino'}}</div>
              </div>
            </div>
            <div class="item">
              <i class="large calendar middle aligned icon"></i>
              <div class="content">
                <a class="header">Matriculación</a>
                <div class="description">{{student.registration_date | date }}</div>
              </div>
            </div>
          </div>
          <a class="btn btn-ln btn-raised btn-danger" (click)="editPass()">Cambiar contraseña</a>
        </div>
      </div>
    </div>
    <!-- Fin perfil visible-->
  </div>

  <!-- Cambiar e-mail -->
  <div class="col-md-4 col-md-offset-4">
    <div class="form-horizontal panel panel-default" *ngIf="editMode == 1">
      <div class="panel-heading">
        <h3 class="text-muted dialog-title">Editar email</h3></div>
      <div class="panel-body">
        <div class="form-group">
          <label for="inputPassword" class="col-md-2 control-label">Correo</label>
          <div class="col-md-10">
            <input [(ngModel)]="student.email" class="form-control" placeholder="Nuevo email" type="email">
          </div>
        </div>
        <a class="btn btn-ln btn-raised btn-danger" (click)="saveChanges(true)">Guardar nuevo correo</a>
        <span class="btn btn-danger pull-right" (click)="saveChanges(false)"> Atrás</span>
      </div>
    </div>
  </div>

  <!-- Cambiar contraseña -->
  <div class="col-md-4 col-md-offset-4">
    <div class="form-horizontal panel panel-default" *ngIf="editMode == 2">
      <div class="panel-heading">
        <h3 class="text-muted dialog-title">Cambiar contraseña</h3></div>
      <div class="panel-body">
        <div class="form-group">
          <label for="inputPassword" class="col-md-2 control-label">Contraseña</label>
          <div class="col-md-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Nueva contraseña">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-md-2 control-label">Repetir Contraseña</label>
          <div class="col-md-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Repetir contraseña">
          </div>
        </div>
        <br>
        <a class="btn btn-ln btn-raised btn-danger" (click)="saveChanges(true)">Guardar contraseña</a>
        <span class="btn btn-danger pull-right" (click)="saveChanges(false)"> Atrás</span>
      </div>
    </div>
  </div>
