/* SPARTAN PURE CSS*/

.sp-container{
	font-size: 85%;
    padding: 1.25em;
	margin: 1.25em;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.sp-img-comment{
	background-color: transparent !important;
	border-radius: 0 !important;
  padding: 0 !important;
	width: auto !important;
}

#sp-heading{
	padding-bottom: 0 !important;
}

div.sp-link {
	padding-top: 1em;
	text-align: center;
}

td.sp-link:hover {
	text-align: center;
	color: #00B5AD;
}

span.sp-link{

	text-align: center;
}

.sp-lg{
	font-size: 4em !important;
}

.sp-link:hover{
	cursor: pointer;
	font-weight: bold;
}


td:not(.sp-not){
  text-align: center !important;
}

.sp-text{
	font-size: 1.5rem;
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1em;
  color: #1B1C1D;
  text-transform: uppercase;
  text-align: center;
}

.sp-font{
	font-size: 1.5rem;
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}

#spartan.sp-font{
	font-size: 2rem !important;
	text-transform: uppercase;
}

.sp-text.mini{
	font-size: 1.2rem;
}


.sp-label-statistic{
	background-color: transparent !important;
	font-size: 1em !important;
}

.ui.mini.statistics .statistic > .value, .ui.mini.statistic > .value{
	font-size: 0.7rem !important;
}

div.sp-label-statistic{
	font-size: 0.8em !important;
}


.sp-container-lg{
	margin-top: 40px;
	padding-right: 1em;
	padding-left: 1em;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 4em;
}

.sp-label{
	font-size: 1.5em;
}

.sp-label2{
	font-size: 1em;
	text-align: center;
	width: 100%;
}

/* COLORES */
.sp-blue{
	color: white;
	background: rgba(28,68,119,0.8);
}

.sp-red{
	color: white;
	background: rgba(231,76,60,0.8);
}

.sp-grey{
	color: black;
	background: rgba(0,0,0,0.1);
}

.sp-calmblue{
	color: black;
	background: rgba(41,128,185,0.2);
}

.sp-darkgrey{
	color: white;
	background: rgba(44,62,80,0.8);
}

.sp-green{
	color: white;
	background: rgba(22,160,133,0.6);
}

.sp-yellow{
	color: darkslategray;
	background: rgba(241,196,15,0.6);
}

.sp-purple{
	color: whitesmoke;
	background: rgba(142,68,173,0.8);
}

.sp-fire{
	color: white;
	background: rgba(178,34,34,0.8);
}

.sp-orange{
	color: white;
	background: rgba(255,140,0,0.8);
}

.sp-calmorange{
	color: darkslategrey;
	background: rgba(255,140,0,0.3);
}

.sp-indigo{
	color: darkslategrey;
	background: rgba(30,144,255,0.3);
}





/* SPINNER */

.sp-center {
  display: flex;
  justify-content: center;
  align-items: center;
	background-color: white;
}

.sp-spinner {
	margin-top: 2em;
    -animation: spin 1.9s infinite linear;
    -webkit-animation: spin2 1.9s infinite linear;
  	font-size: 9em;
}

@-webkit-keyframes spin2 {
from { -webkit-transform: rotate(0deg);}
to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


/* LOADING */

body {
  margin: 0;
  padding: 0;
}

.cs-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: calc(100% - 200px);
  color: #E96D65;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display: inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}
